# (c) Martin Wheldon
# Info: https://github.com/wheldom01/rt-extension-csvcustomfields
#
# This code is free software; you can redistribute it and/or
# modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
# License as published by the Free Software Foundation; either
# version 3 of the License, or any later version.
#
# This code is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU AFFERO GENERAL PUBLIC LICENSE for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/>.
#

.multi-line-csv {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}
.multi-line-csv th {
    color: #3858a3;
}
/* Data entry columns */
.multi-line-csv .column-0,
.multi-line-csv .column-1 {
    width: 50%;
}
/* Checkbox column */
.multi-line-csv .column-2 {
    text-align: center;
}
.multi-line-csv .column-0 input[type=text],
.multi-line-csv .column-1 input[type=text] {
    text-align: left;
    width: 95%;
}
/* Style the table on the ticket display page */
.multi-line-csv.view {
    border-bottom : 1px solid #cccccc;
    margin-bottom : 1em;
}
.multi-line-csv.view th {
    padding-bottom: 1em;
}
.multi-line-csv.view tr td {
    border-top: 1px solid #cccccc;
}
.multi-line-csv.view tr td:first-child {
    border-left: 1px solid #cccccc;
}
.multi-line-csv.view tr td:last-child {
    border-right: 1px solid #cccccc;
}
.multi-line-csv.view tr:nth-child(even) td {
    background: #eee;
}
